[Unit]
Description=brew-monitor
After=network.target

[Service]
ExecStart=/usr/local/bin/bm
WorkingDirectory=~
StandardOutput=inherit
StandardError=inherit
Restart=always
User=brew-monitor
CapabilityBoundingSet=CAP_NET_RAW CAP_NET_ADMIN CAP_SYS_NICE
AmbientCapabilities=CAP_NET_ADMIN

[Install]
WantedBy=multi-user.target

