[Unit]
Description=brew-monitor
After=network.target

[Service]
ExecStart=/usr/local/bin/bm
WorkingDirectory=~
StandardOutput=inherit
StandardError=inherit
Restart=always
User=brew-monitor
CapabilityBoundingSet=cap_net_raw cap_net_admin+eip

[Install]
WantedBy=multi-user.target

