[Unit]
Description=brew-monitor
After=network.target

[Service]
ExecStart=/usr/local/bin/bm
WorkingDirectory=/home/pi/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target

